
:root{
    --vermelho: #e50914;
    --preto: #141414;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*isso define que tudo tenha exatamente o tamanho que eu defini*/
}

body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex; /* permite que os itens nao ocupen toda linha */
    flex-direction: row;/*valor padrao do flex*/
    align-items: center; /* alinha os itens verticalmente */
    justify-content: space-between; /* calcula um espaço entre os elementos */
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/* filmes principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 30%, rgba(0,0,0,.5) 100%), url(/img/capa-filmes.jpg);
    background-size: cover; /* cover faz com que a imagem fique do tamanho da cobertura da caixa*/
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.filme-principal .descricao{
    margin-bottom: 40px;
    margin-top: 15px;
    width: 70%;
}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS',  Arial, sans-serif;
}

.botao{
    background-color: rgba(0, 0, 0, .5);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    margin-left: 20px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    padding: 6px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
     height: 100%;
     width: 100%;
     display: block;
}